body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
/* ===== HEADER ===== */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  text-decoration: underline;
}

.search input {
  padding: 5px;
}

/* ===== BANNER ===== */
.banner {
  background-color: #63c7a9; /* xanh giống hình */
  color: white;

  text-align: center;
  padding: 80px 20px;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 16px;
  max-width: 700px;
  margin: 10px auto;
}

/* ===== BUTTONS ===== */
.buttons {
  margin-top: 30px;
}

.btn-main {
  background-color: orange;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.btn-link {
  margin-left: 20px;
  color: white;
  text-decoration: underline;
}
